@CHARSET "ISO-8859-1";

.form-menu {
	position: absolute;
	top: 15%;
	left: 35%;
	width: 100%;
}

.border-class {
	border: 1px solid black;
	height: 324px;
	width: 434px;
	background-color: lightgrey
}

.header-content {
	margin-left: 142px;
	margin-bottom: 44px;
}

.label-content {
	padding-left: 85px;
}

#login .form-control {
	margin-top: 13px;
	margin-bottom: 13px;
	margin-left: 85px;
}

#login .btn {
	float: right;
}

.borderDiv {
	border: 1px solid #dfafaf;
	border-radius: 8px;
	width: 120%;
	height: 234px;
}

.bordercustDataDiv {
	border: 1px solid #dfafaf;
	border-radius: 8px;
	margin-top: 14px;
	width: 120%;
	height: 120px;
}

.headText {
	background-color: seashell;
	font-family: Lucida Console;
	margin-left: 21px;
	margin-top: -12px;
	width: 162px;
}

.segmentSelect {
	margin-left: 166px;
	margin-top: -22px;
	width: 272px;
}

.regionSelect {
	margin-left: 166px;
	margin-top: -24px;
	width: 272px;
}

.companySelect {
	margin-left: 166px;
	margin-top: -27px;
	width: 272px;
}

.businessSelect {
	margin-left: 166px;
	margin-top: -26px;
	width: 272px;
}

.submitButtonStyle {
	margin-left: 425px;
	margin-top: 4px;
}

.segmentLabelStyle {
	height: 24px;
	margin-left: 23px;
	margin-top: 15px;
}

.baseLabelStyle {
	height: 24px;
	margin-left: 23px;
}

.userHeadText {
	background-color: seashell;
	font-family: Lucida Console;
	height: 23px;
	margin-left: 21px;
	margin-top: -12px;
	width: 266px;
}

.addUserBox {
	border: 1px solid #dfafaf;
	border-radius: 8px;
	height: 342px;
	width: 120%;
}

.form-group.required .control-label:after {
	color: #d00;
	content: "*";
	position: absolute;
	margin-left: 2px;
	top: 7px;
}

.panel-heading a:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}

.panel-heading a.collapsed:after {
	content: "\e080";
}

label.radio-inline, label.checkbox-inline {
	background-color: #dcdfd4;
	cursor: pointer;
	font-weight: 400;
	margin-bottom: 10px !important;
	margin-right: 2%;
	margin-left: 0;
	padding: 10px 10px 10px 30px;
}

label.radio-inline.checked, label.checkbox-inline.checked {
	background-color: #266c8e;
	color: #fff !important;
	text-shadow: 1px 1px 2px #000 !important;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
	margin-left: 0;
}

.columns label.radio-inline, .columns label.checkbox-inline {
	min-width: 190px;
	vertical-align: top;
	width: 30%;
}

.additional-info-wrap {
	display: inline-block;
	margin: 0 2% 0 0;
	min-width: 190px;
	position: relative;
	vertical-align: top;
	width: 30%;
}

.additional-info-wrap label.checkbox-inline, .additional-info-wrap label.radio-inline
	{
	width: 100% !important;
}

.additional-info-wrap .additional-info {
	background-color: #266c8e;
	clear: both;
	color: #fff !important;
	margin-top: -10px;
	padding: 0 10px 10px;
	text-shadow: 1px 1px 2px #000 !important;
	width: 100%;
}

.numberCircle {
	border-radius: 50%;
	behavior: url(PIE.htc);
	width: 18px;
	height: 18px;
	/* padding: 8px; */
	background: #fff;
	border: 2px solid rgb(0, 0, 0);
	color: black;
	text-align: center;
	font: 14px Arial, sans-serif;
	display: inline-block;
}

.menuPage {
	border: 0 solid #D1D1D1;
	float: left;
	height: 300px;
	margin-top: 0px;
	padding: 0px;
	width: 181px;
}

.menuItemBox {
	border: 1px solid #D1D1D1;
	margin-top: 0px;
	border-left: 0px;
	height: 830px;
	width: 210px;
	background-color: #fff;
}

.pageBody {
	border-left: 0 solid #D1D1D1;
	float: left;
	height: 780px;
	margin-left: 210px;
	margin-top: -250px;
	overflow: auto;
	padding: 0px;
	width: 84%;
	border-top: 1px solid #D1D1D1;
}

.addUserButton {
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	text-align: center;
	width: 8%;
	margin-left: auto;
	margin-top: -39px;
}

}
.applogo {
	height: 50px;
	width: 100px;
	margin-left: 45px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

#creditRequestForm .form-control {
	font-size: 12px;
}

.select2-results, .select2-noresults {
	font-size: 11px;
}

#creditRequestForm .select2-chosen {
	font-size: 13px;
}

.select2-results .select2-highlighted {
	background: #3875d7;
	color: #fff;
}

.select2-results .select2-no-results {
	font-weight: bold;
}

.datepicker thead th {
	color: #000;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover {
	background-color: #006DCC;
	background-image: -moz-linear-gradient(center top, #08C, #04C);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.datepicker thead th.prev, .datepicker thead th.next {
	background: #006DCC none repeat scroll 0% 0%;
}

.datepicker thead tr:first-child th:hover {
	background: #006DCC none repeat scroll 0% 0%;
}

.datepicker table tr td.disabled{
	background: rgba(0, 0, 0, 0.20) none repeat scroll 0px 0px;
}

div.tooltip-inner {
    max-width: 300px;
    margin-left:60px;
}

.ui-select-bootstrap .ui-select-choices-row{
	font-size: 12px;
}

.valid-data-panel div.panel-heading{
	background-color: beige;
}


a{
    cursor: pointer;
}

a{
  cursor:hand;
}

a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

input[type="checkbox"] {
  transform:scale(1.5, 1.5);
}